*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: black;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo{
    width:70%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
}

.icn{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
}
.red{
    color: red;
}

@media screen and (max-width:400px){
    .logo{
        font-size: 1.2rem;
    }
    .icn{
        font-size: 1.8rem;
    }
}

.hero{
    width: 100%;
   
    margin-top: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
   
}
.head1{
    width: 90%;
    margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 2rem;
   color: white;
   font-weight: bolder;
}
.cards{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    gap: 20px;
    
}
.card{
    width: 250px;
   gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}
.card:hover{
    background-color: #9c889c;
  
}
.card-img{
    width: 100%;
    height: 150px;
    
}
.card-head{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    font-size: 1.2rem;
    font-weight: bolder;
   
}

.card-para{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    
    font-size: 0.8rem;
    margin-bottom: 10px;
    padding: 5px;
   
}
.card-img > img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}